name: CI
on:
  # - pull_request
  - push
jobs:
  job1:
    runs-on: ubuntu-latest
    name: build example and deploy to minikbue
    steps:
    - uses: actions/checkout@v2
    - name: Start minikube
      uses: medyagh/setup-minikube@master
    - name: Try the cluster !
      run: kubectl get pods -A
    - name: Build image
      run: |
        export SHELL=/bin/bash
        eval $(minikube -p minikube docker-env)
        docker build -f ./Dockerfile -t local/example .
        echo -n "verifying images:"
        docker images
    - name: Deploy to minikube
      run:
        export IMAGE_TAG=$(git rev-parse HEAD)
        envsubst < deploy-to-minikube.yaml | kubectl apply -f -

    - name: Test service URLs
      run: |
        minikube service list
        minikube service example --url
        kubectl describe deployment example
        kubectl get pod
        echo "------------------opening the service------------------"
        curl $(minikube service example --url)